
<div>
    <button {{on 'click' this.toggleModalState}}>alert</button>

    {{#if this.modalState}}
        <div class="basic-alert-container">
            <div class="basic-alert_modal">
                <div class="basic-alert_message">
                    <h2 class="basic-alert_title">{{@this.title}}</h2>  
                    <p class="basic-alert_sub-text">{{@subText}}</p>      
                    <button class="basic-alert_close-btn" {{on 'click' this.toggleModalState}}>{{@closeText}} </button>
                </div>
            </div>
        </div>
    {{/if}}
</div>