
<button {{on 'click' this.baToggle}}>alert</button>
{{#if this.openState}}
    <div class="ba_container">
        <div class="ba_modal">
            <div class="ba_top">
                <h2 class="ba_title">{{this.args.options.title}}</h2>  
                <p class="ba_sub-text">{{this.args.options.description}}</p>      
            </div>
            <div class="ba-bottom">
               <button type="button" class="ba_close-btn" {{on 'click' this.baToggle}}>{{this.args.options.closeText}}</button>
            </div>
        </div>
    </div>
{{/if}}
